/* Resetter */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* Colors */
:root {
  --primary-color: #eef2f5;
  --secondary-color: #151522;
  --secondary-color-dark: #10101b;
  --accent-color-1: #20c284;
  --accent-color-2: #1260b7;
  --accent-color-2-dark: #0e488b;

  --white: #f8f8f8;
}

[data-theme="dark"]:root {
}

/* Fonts */
html {
  font-family: "Poppins", sans-serif;
  font-size: 1.125em;
}

h1,
h2,
h3 {
  color: var(--secondary-color);
  font-family: "Noto Serif Display", serif;
  margin-bottom: 1rem;
}

h1 {
  color: var(--primary-color);
  font-size: 3.052rem;
  line-height: 3.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.953rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

p {
  color: var(--secondary-color);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

a {
  position: relative;
  text-decoration: none;
  color: var(--accent-color-2);
}

a::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  transform-origin: right;
  background-color: var(--accent-color-2);
  bottom: 0;
  left: 0;
  transform: scaleX(0%);
  transition: 0.25s transform;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* UI Elements */
button {
  cursor: pointer;
  display: inline-block;
  height: 3rem;
  padding: 1rem 2rem;
  border: none;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  background-color: var(--accent-color-2);
  color: var(--primary-color);
  transition: background-color 0.2s;
}

button:hover {
  background-color: var(--accent-color-2-dark);
}

.dark_button {
  background-color: var(--accent-color-2);
}

input[type="text"] {
  box-sizing: border-box;
  width: 250px;
  height: 3rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  text-align: left;
  background-color: var(--white);
  border-color: var(--accent-color-2-dark);
  color: var(--secondary-color);
}

/* Menu */
nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color-dark);
  position: sticky;
  top: 0;
  z-index: 100;
}

nav a {
  color: var(--primary-color);
  text-decoration: none;
}

nav a.logo {
  font-family: "Noto Serif Display", serif;
  font-size: 1.25rem;
  font-weight: bold;
}

nav li {
  display: inline-block;
  margin: 0px 1rem;
}

/* Header */
header {
  display: flex;
  min-height: 80vh;
  padding: 5rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--secondary-color);
}

header p {
  color: var(--primary-color);
}

header button {
  margin-bottom: 3rem;
}

.header_text {
  width: 30vw;
  min-width: 300px;
}

.header_graphics {
  width: 25vw;
  height: 25vw;
  min-width: 250px;
  min-height: 250px;
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
  background-color: var(--secondary-color-dark);
  margin-bottom: 1rem;
  padding: 3rem;
}
.header_graphics object {
  width: 100%;
  height: 100%;
}

.header_graphics object svg path {
  fill: var(--accent-color-1);
}

/* product section */
#product {
  padding: 5rem 3rem;
  background-color: var(--primary-color);
}

#product h2 {
  font-size: 3.052rem;
  line-height: 3.5rem;
}

#product article {
  display: flex;
  min-height: 50vh;
  padding: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#product article:first-child {
  min-height: 40vh;
}

.product_text {
  width: 50vw;
  min-width: 300px;
}

#product article:first-child .product_text {
  width: 75vw;
  min-width: 300px;
}

.product_graphics {
  width: 15vw;
  height: 15vw;
  min-width: 150px;
  min-height: 150px;
  max-width: 200px;
  max-height: 200px;
  padding: 3rem;
  margin: 3rem;
  background-color: var(--accent-color-1);
  border-radius: 50%;
}
.product_graphics object {
  width: 100%;
  height: 100%;
}

/* highlight sections */
.highlight {
  display: flex;
  min-height: 70vh;
  padding: 2rem;
  align-items: center;
  justify-content: space-around;
  background-color: var(--white);
}

.highlight div {
  width: 80vw;
}

.highlight div h2 {
  font-size: 5.005rem;
  line-height: 6rem;
}

.dark {
  background-color: var(--secondary-color);
}

.dark h2 {
  color: var(--primary-color);
}

.dark a {
  color: var(--primary-color);
}

/* request section */
#request {
  display: flex;
  min-height: 50vh;
  padding: 2rem;
  align-items: center;
  justify-content: space-around;
  background-color: var(--white);
}

#request div {
  width: 50vw;
  min-width: 300px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/* Footer */
footer {
  display: flex;
  padding: 5vh 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

footer h2,
footer h3 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

footer a {
  color: var(--primary-color);
}

footer section.left {
  display: flex;
  max-width: 50vw;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer section div {
  margin: 0px 1rem 1rem 1rem;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 0.9em;
  }

  #product h2 {
    font-size: 1.953rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
  .highlight div h2 {
    font-size: 3.052rem;
    line-height: 3.5rem;
  }
}
